.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.collection {
  display: flex;
  text-align: center;
  margin: 20px;
}

.collection ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.collection li {
  margin: 0 10px;
}

.menClothing,
.womenClothing,
.jewelery,
.electronics {
  text-decoration: none;
  font-family: 'Junge';
  color: #000;
  font-size: 16px;
}

.videoContainer {
  max-width: 1200px;
  position: relative;
}


.videoContainer video {
  border-radius: 20px;
}

.controls {
  position: absolute;
  top: 90%;
  left: 100%;
  gap: 20px;
  transform: translate(-50%, -50%);
  display: flex;
}

.controls button {
  background-color: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый фон */
  border: none;
  border-radius: 50%; /* Закругление кнопок */
  padding: 10px 10px; /* Подходящий отступ вокруг иконок */
  cursor: pointer;
  outline: none;
}

.controls img {
  width: 30px;
  height: 30px;
}
