.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 50px;
}

h2 {
  font-size: 30px;
  color: #575757;
  text-align: center;
}

.categoryItem {
  margin: 20px;
  transition: box-shadow 0.3s ease;
}

.categoryItem:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.categoryItem img {
  max-width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.categoryItem p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #575757;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sliderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.slider {
  display: flex;
  justify-content: center;
  width: 1035px;
  gap: 15px;
}

.slider img {
  max-width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.sliderWrapper button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.sliderWrapper button:disabled {
  cursor: not-allowed;
}

.sliderWrapper button img {
  max-width: 70px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .slider {
    width: 400px;
  }
}
