.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categoryItem {
  margin: 20px;
}

.categoryItem img {
  max-width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.categoryItem p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
