.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 95px;
  min-height: calc(100vh - 80px);
}

.history {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 40px;
  margin-bottom: 15px;
  gap: 20px;
  background-color: #292929;
  max-width: 1200px;
  width: 100%;
}

.info {
  width: 580px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #a38b5f;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  height: 140px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.text a {
  color: #d3d3d37c;
}

.logo {
  display: flex;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .history {
    max-width: 900px;
  }

  .info {
    padding-left: 30px;
  }

  .imgContact {
    width: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .history {
    flex-direction: column;
    align-items: center;
    max-width: 600px;
  }

  .info {
    width: 500px;
    display: flex;
    align-items: center;
    padding-left: 0;
  }
}

@media only screen and (max-width: 670px) {
  .history {
    padding: 15px;
  }
}

@media only screen and (max-width:510px) {
  .info{
    flex-direction: column;
  }

  .imgContact{
    width: 300px;
  }
}

@media only screen and (max-width:375px) {
  .history{
    width: 340px;
  }
}