.wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 85px;
  color: #d3d3d37c;
  min-height: calc(75vh - 80px);
}

.gif{
  width: 200px;
}