.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  min-height: calc(100vh - 80px);
}

.filter {
  width: 200px;
  height: 150px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px;
}

.filter button {
  width: 30px;
  padding: 0;
}

h1 {
  font-size: 20px;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1100px;
  max-height: 800px;
  width: 100%;
  /* overflow-y: auto; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px;
}

.card > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 250px;
  min-width: 250px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #ffffff69;
  margin: 20px 0;
  transition: box-shadow 0.3s ease;
}

.card > div:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 230px;
  max-height: 230px;
  object-fit: contain;
}

.text {
  color: #d3d3d3;
  text-align: center;
}

.modal{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.modalImg img{
  max-width: 230px;
  max-height: 230px;
  object-fit: contain;
}


@media only screen and (max-width: 768px) {
  .wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
}
