.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.videoContainer {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.video {
  width: 100%;
  height: auto;
  border: none;
  object-fit: cover;
}

.controls {
  position: absolute;
  bottom: 5%;
  right: 6%;
  transform: translate(50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls button {
  background-color: #d3d3d37c;
  border: none;
  border-radius: 20%;
  padding: 4px 8px;
  cursor: pointer;
  outline: none;
  margin: 0 10px;
}

.controls svg {
  width: 30px;
  height: 30px;
}


.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d3d3d37c;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

p{
  color: #d3d3d37c;
}
