.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.videoContainer {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.controls {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 20%;
  padding: 4px 8px;
  cursor: pointer;
  outline: none;
  margin: 0 10px;
}

.controls svg {
  width: 30px;
  height: 30px;
}
