.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-height: 90px;
  padding: 3px 20px;
  background-color: #cececb;
  border-radius: 20px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}


.nav a {
  font-family: 'Junge';
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.logo{
  display: flex;
  justify-content: center;
}

.logo img {
  max-width: 120px;
}

.search{
  display: flex;
  gap: 20px;
}

.search input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}


.home {
  color: white;
}

.collection {
  color: white;
}

.about {
  color: white;
}

.contact {
  color: white;
}
