.wrapper {
  display: flex;
  background-color: #cececb;
  padding: 3px 50px;
  height: 80px;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos {
  display: flex;
  gap: 15px;
}

.logos a {
  color: #000;
}

.logos svg {
  width: 30px;
  height: 30px;
}
