.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 50px;
}

h2 {
  font-size: 30px;
  color: #d3d3d3;
  text-align: center;
}

.card{
  display: flex;
  flex-direction: row;
}

.categoryItem {
  transition: box-shadow 0.3s ease;
}

.categoryItem:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.categoryItem img {
  max-width: 210px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.categoryItem p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #d3d3d3;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  cursor: pointer;
}
